<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.dao.AppInfo.App_InfoMapper">
<!-- 查询所有的APP信息分页显示 -->
	<select id="pageAppInfo" resultMap="App_InfoList">
				SELECT
				i.*,
				d1.valueName as flatformName,
				d2.valueName as statusName,
				c1.categoryName as categoryLevel1Name,
				c2.categoryName as categoryLevel2Name,
				c3.categoryName as categoryLevel3Name,
				v.versionNo
			FROM
				app_info i
			LEFT JOIN data_dictionary d1 ON i.flatformId = d1.valueId
			LEFT JOIN data_dictionary d2 ON i.`status` = d2.valueId
			LEFT JOIN app_category c1 on i.categoryLevel1=c1.id
			LEFT JOIN app_category c2 on i.categoryLevel2=c2.id
			LEFT JOIN app_category c3 on i.categoryLevel3=c3.id
			LEFT JOIN app_version v on i.versionId =v.Id			 
			where d2.typeCode = 'APP_STATUS' AND d1.typeCode = 'APP_FLATFORM' 
				<if test="softwareName !=null and softwareName !=''">
					and softwareName  LIKE CONCAT( "%",#{softwareName}, "%" ) 
				</if>
				<if test="status != null and status !=''">
					and status= #{status}
				</if>
				<if test="flatformId != null and flatformId !=''">
					and flatformId= #{flatformId}
				</if>
				<if test="categoryLevel1 != null and categoryLevel1 !=''">
					and categoryLevel1= #{categoryLevel1}
				</if>
				<if test="categoryLevel2 != null and categoryLevel2 !=''">
					and categoryLevel2= #{categoryLevel2}
				</if>
				<if test="categoryLevel3 != null and categoryLevel3 !=''">
					and categoryLevel3= #{categoryLevel3}
				</if>
			
			order by creationDate DESC limit #{from},#{ pageSize}		  	
	</select>
	<resultMap type="App_Info" id="App_InfoList">	
		<result property="flatformName" column="valueName"/>
		<result property="statusName" column="valueName"/>
		<result property="versionNo" column="versionNo"/>
		<result property="categoryLevel1Name" column="categoryName"/>
		<result property="categoryLevel2Name" column="categoryName"/>
		<result property="categoryLevel3Name" column="categoryName"/>		
	</resultMap>
	<!-- 获取单条App的详细信息 -->
	<select id="appinfolist" resultType="App_Info">		
			SELECT
				i.*,
				d1.valueName as flatformName,
				d2.valueName as statusName,
				c1.categoryName as categoryLevel1Name,
				c2.categoryName as categoryLevel2Name,
				c3.categoryName as categoryLevel3Name,
				v.versionNo
			FROM
				app_info i
			LEFT JOIN data_dictionary d1 ON i.flatformId = d1.valueId
			LEFT JOIN data_dictionary d2 ON i.`status` = d2.valueId
			LEFT JOIN app_category c1 on i.categoryLevel1=c1.id
			LEFT JOIN app_category c2 on i.categoryLevel2=c2.id
			LEFT JOIN app_category c3 on i.categoryLevel3=c3.id
			LEFT JOIN app_version v on i.versionId =v.Id			 
			where d2.typeCode = 'APP_STATUS' AND d1.typeCode = 'APP_FLATFORM' 			
				<if test="id != null and id !=''">
					and i.id= #{id}
				</if>
	</select>
	<!-- 统计条数 -->
	<select id="appCount" resultType="int">
		select count(1) from app_info 
		<where>
			<if test="softwareName !=null and softwareName !=''">
					and softwareName= #{softwareName}
				</if>
				<if test="status != null and status !=''">
					and status= #{status}
				</if>
				<if test="flatformId !=null and flatformId !=''">
					and flatformId= #{flatformId}
				</if>
				<if test="categoryLevel1 !=null and categoryLevel1 !=''">
					and categoryLevel1= #{categoryLevel1}
				</if>
				<if test="categoryLevel2 !=null and categoryLevel2 !=''">
					and categoryLevel2= #{categoryLevel2}
				</if>
				<if test="categoryLevel3 !=null and categoryLevel3 !=''">
					and categoryLevel3= #{categoryLevel3}
				</if>	
		</where>
	</select>
	
	<update id="updateSatus">
		update app_info 
			set status=#{status}
			where id = #{id}
	</update>
</mapper>

